
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"

  app:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/orders?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      - db
