services:
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 5s

  migrate:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path=/migrations",
        "-database=postgres://postgres:postgres@db:5432/orders?sslmode=disable",
        "up",
      ]
    depends_on:
      db:
        condition: service_healthy

  app:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/orders?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      - migrate
